.container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #099a5b;
    color: white;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-transform: capitalize;
    font-size: 2rem;
}

.btn {
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border: none;
    border-radius: 0.25rem;
    background-color: #646cff;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-transform: uppercase;
    
}

.btn:hover {
    background-color: #4d4dff;
}

.btn:active {
    background-color: #3333ff;
}

.title {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: aqua;
    font-weight: bold;
}